@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

*{
  
    padding: 0;

}

.containerproje{
    position: relative;
}

.containerproje .slide-container .slide{
    min-height: 50vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;
}

.containerproje .slide-container .slide .contentproje{
    flex: 1 1 350px;
    animation: slideContent .4s linear .4s backwards;
}

@keyframes slideContent{0%
{
    opacity: 0;
    transform: translateX(-50px);
}
}


.containerproje .slide-container .slide .contentproje h3{
    font-size: 35px;
    text-align: center;
    align-items: center;
    color: #043071;
    margin: 0 auto;
    font-family: 'Noto Sans', sans-serif;
}

.containerproje .slide-container .slide .contentproje p{
    font-size: 16px;
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    width: 40%;
    height: 10%;
     text-align: center;
    align-items: center;

}

.containerproje .slide-container .slide .contentproje .bntproj{
    margin-top: 10px;
    display: inline-block;
    background: #043071;
    color: #ffffff;
    font-size: 17px;
    padding: 9px 40px;
    border-radius: 5px;
    border: 2px solid #043071;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
}

.containerproje .slide-container .slide .contentproje .bntproj:hover{
    background: #a355d7;
    border: 2px solid #a355d7;
    color: #ffffff;
}

.containerproje .slide-container{
    display: none;
}

.containerproje .slide-container.active{
    display: block;
}

.containerproje .slide-container:nth-child(1) .slide{
    background: url(https://mailsonpi.github.io/tESTE-IMG/bnpv.png);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
   height:50%;
}

.containerproje .slide-container:nth-child(2) .slide{
    background: url(bannerprovidil.png);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50%;
}

.containerproje .slide-container:nth-child(3) .slide{
    background: url(https://mega.nz/file/hp9X3RTZ#d6u-mXKRCRlbFSLZ4Wv81DATBcJq46p93gCflXW_c5Q);
    background-size:cover;
    background-repeat: no-repeat;
     width: 100%;
    height: 50%;
}

.containerproje #prev, 
.containerproje #next {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color: #ffffff;
   
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50px;
}

.containerproje #prev:hover, 
.containerproje #next:hover{
    background: #043071;
}
.containerproje #prev{
    left: 20px;
}

.containerproje #next{
    right: 20px;
}



@media(max-width: 500px){
    .containerproje #prev{
        left: 0px;
        top: 60%;
    }

    .containerproje #next{
        right: 0px;
        top: 60%;
    }


    .containerproje .slide-container .slide .contentproje p{
        font-size: 16px;
        color: #ffffff;
        font-family: 'Noto Sans', sans-serif;
        width: 70%;
        height: 10%;
    
    }
}



.feature {

    margin: 0 auto;
    align-items:center;
    width: 65%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding-top: 15px;
}
@media (max-width: 1400px){
    .feature {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding-top: 15px;
}
}
@media (max-width: 1100px){
    .feature {
     margin: 0 auto;
    align-items:center;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding-top: 15px;
}

}
.feauture-box {
    padding: 10px;
    
    flex-direction: column;
    gap: 2;
    border: 2px solid #043071;
    border-radius: 10px;
    transform: scale(1.02);
    transition: .5s ease;
    box-shadow: 0 0.1rem 0.5rem #043071;
}
.feauture-box:hover {
    padding: 10px;
        transform: scale(1.02);
    transition: .5s ease;
    box-shadow: 0 0.1rem 0.5rem #043071;
    flex-direction: column;
    gap: 2;
    border: 3px solid #043071;
    border-radius: 10px;
}

.feauture-box h3 {
    text-align: center;
    font-size: 19px;

}
.feauture-box:hover h3 {
    text-align: center;
    color: #043071;
    font-size: 22px;
}
.feauture-box p {
    text-align: center;
    color:black;
    font-size: 16px;
}
.feauture-box ul {
    padding: 0;
      font-size: 16px;
    margin: 0;
    list-style: none;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .feature {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 670px) {
    .feature {
        grid-template-columns: repeat(1, 1fr);
    }
}
.infotext{
    padding-top: 45px;
}
.text{
    width: 60%;
    margin: 0 auto;
}
.text p{
   font-size: 20px;
   color: black;
}
.text img {
    padding-top: 5px;
    width: 60%;
    margin: 0 auto;
    align-items:center;
}

@media (max-width: 1300px){
    .infotext{
    padding-top: 30px;
}
.text{
    width: 90%;
    margin: 0 auto;
}
.text p{
   font-size: 19px;
   color: black;
   text-align: justify;
   justify-content: justify;
}
.text img {
    padding-top: 5px;
    width: 60%;
    margin: 0 auto;
    align-items:center;
}
}
.text li{
    padding-top: 1px;
    font-size: 16px;
    color:black;
}

.infoimg{
    align-items: center;
    margin: 0 auto;
    text-align: center;
}
@media (max-width: 900px){
    .infoimg img{
    align-items: center;
    margin: 0 auto;
    text-align: center;
    width: 80%
}

}